<script type="text/javascript" src="https://cdn.novalnet.de/js/v3/payment.js"></script>
<script src="{{ plugin_path('Novalnet') }}/js/novalnetGooglePay.js"></script>

<div id="googlepay_container"></div>

